*{

    box-sizing: border-box;
    text-align: center;
    margin: 80px;
    border: 1px solid gray;
    border-radius: 10px;
}

h1{
    font-size: 50px;
    font-weight: bold;
    color: darkblue;
    background-color: lightblue;
    margin-top: 50px;

}

h2{

    font-size: 35px;
    font-weight: 500;
    background-color: lightpink ;
    color: darkslateblue;

}

p{
    font-size: 20px;
    background-color: aliceblue;
    color: darkviolet;
    
}
