@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Regular.woff2') format('woff2'),
        url('../font/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Italic.woff2') format('woff2'),
        url('../font/WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/../fontWorkSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/WorkSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-BlackItalic.woff2') format('woff2'),
        url('../font/WorkSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-ExtraBold.woff2') format('woff2'),
        url('../font/WorkSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-ExtraLightItalic.woff2') format('woff2'),
        url('../font/WorkSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-ExtraLight.woff2') format('woff2'),
        url('../font/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Italic.woff2') format('woff2'),
        url('../font/WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Black.woff2') format('woff2'),
        url('../font/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-BoldItalic.woff2') format('woff2'),
        url('../font/WorkSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Bold.woff2') format('woff2'),
        url('../font/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-MediumItalic.woff2') format('woff2'),
        url('../font/WorkSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-ThinItalic.woff2') format('woff2'),
        url('../font/WorkSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Thin.woff2') format('woff2'),
        url('../font/WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Medium.woff2') format('woff2'),
        url('../font/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Regular.woff2') format('woff2'),
        url('../font/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-SemiBold.woff2') format('woff2'),
        url('../font/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Light.woff2') format('woff2'),
        url('../font/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-LightItalic.woff2') format('woff2'),
        url('../font/WorkSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-SemiBoldItalic.woff2') format('woff2'),
        url('../font/WorkSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

